@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// $color-green: #AABBB7;
// background-color: rgba($color-green, 0.2);
// GOLD: rgb(212, 179, 118)
$boxSize: 200px;

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#stripe {
  background-color: white; 
  border-bottom: 3px solid rgb(212, 179, 118); 
  height: 35px; 
  color: rgb(212, 179, 118);
}

nav {
  height: 30px; 
  font-size: 23px;
  font-weight: 500; 
  height: 100%;
  padding-top: 3px;

  // stats
  span {
    background-color: none; 
    // font-size: inherited;
    text-transform: uppercase; 
    font-weight: 700; 
    color: rgb(212, 179, 118); 
    transition: all 0.3s; 
  
    .space {
      // font-size: 15px;
      line-height: 20px; 
    }
  }
}

// game title
h1 {
  margin: 0; 
  padding: 30px 0 40px 0;
  background-color: rgb(212, 179, 118);
  color: white; 
  line-height: 1; 
  font-weight: 300; 
  font-size: 100px; 
  word-spacing: 20px;
  letter-spacing: 5px;
  text-transform: uppercase; 
  text-align: center; 
}

// GRID
#container {
  margin-bottom: 50px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, $boxSize);
  grid-gap: 10px 10px;
  max-width: 1400px;
  margin: auto; 
  // height: calc(100vh - 20px);
  padding: 30px;
  justify-content: center;

  >div {
    height: $boxSize;
    width: $boxSize; 
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: opacity ease-in-out 750ms 0ms; 
    cursor: pointer;
  }
}

button {
  padding: 8px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: inherit; 
  font-weight: 500;
  border: 1px solid rgb(212, 179, 118);
  color: rgb(212, 179, 118);
  border-radius: 12px;
  margin: 30px;
  outline: none;
  cursor: pointer;
}


//  --------------- FOOTER ---------------

.footer--row {
  max-width: 1200px; 
  margin: 0 auto; 
}

footer {
  background-color: rgb(117, 98, 63);
  padding: 20px; 
  margin-top: 50px;
  font-size: 1.1em;
  font-weight: 300;
  word-spacing: 7px;
}

footer p {
  color: #ddd;
  text-align: center;
  margin-top: 5px; 
  font-size: 100%;
}
